/*========== Google Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


/*========== CSS VARIABLES ==========*/
:root {
    /*---- Fonts ----*/
    --body-font: 'Red Hat Display', sans-serif;

    /*---- Colors ----*/

    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}


/*========== BASE CSS ==========*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    font-family: var(--body-font);
}


/*========== CONTAINER ==========*/
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url(../img/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-size: contain;
    background-repeat: no-repeat;
}

/*========== CONTENT CONTAINER ==========*/
.content__container {
    background: #fff;
    border-radius: 20px;
}

/*========== CONTENT HEADER ==========*/
.content__header {
    overflow: hidden;
    position: relative;
}

.header__img {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}


/*========== CONTENT BODY ==========*/
.content__body {
    padding: 1rem .5rem 3rem;
    text-align: center;
    margin: 0 auto;
}

.content__title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 1.8rem;
    padding: 1.2rem 0 1rem;
}

.content__description {
    padding: 0 0 1rem;
    width: 360px;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--desaturated-blue);
    font-weight: 500;
}

/*========== PLAN INFO ==========*/
.plan__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem .5rem;
    width: 350px;
    margin: 0 auto 1rem; 
    border-radius: 8px;
    background: var(--very-pale-blue);
}

.plan__info div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__icon {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}

.plan__detail {
    text-align: left;
    margin-left: .5rem;
}

.plan__detail-price {
    font-size: 1rem;
    color: var(--desaturated-blue);
}

.plan__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.change__button {
    color: var(--bright-blue);
    font-weight: 700;
    transition: .5s;
}

.change__button:hover {
    color: var(--desaturated-blue);
}

.plan__detail-description {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: .2rem;
    color: var(--dark-blue);
}

/*========== MAIN BUTTON ==========*/
.button__proceed {
    display: block;
    margin: 2rem auto 1rem;
    width: 350px;
    padding: 1rem 0;
    background: var(--bright-blue);
    font-family: var(--body-font);
    color: var(--very-pale-blue);
    font-size: .9rem;
    font-weight: 900;
    border-radius: 8px; 
    transition: .5s;  
}

.button__proceed:hover {
    opacity: .8;
}

.cancel__button {
    display: block;
    padding: .5rem 0 0;
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: 1rem;
    transition: .3s;
}

.cancel__button:hover {
    color: var(--dark-blue);
}


/*========== ATTRIBUTION ==========*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    .container {
        background-image: url(../img/pattern-background-mobile.svg);
    }

    .content__container {
        width: 320px;
    }

    .content__title {
        font-size: 1.5rem;
    }

    .content__description {
        width: 250px;
        font-size: .9rem;
    }

    .plan__info {
        width: 280px;
        padding: 1rem 0;
    }

    .plan__detail-description,
    .plan__detail-price,
    .change__button {
        font-size: .9rem;
    }

    .button__proceed {
        width: 280px; 
    }
}